body {
  padding: 0%;
  margin-left: 0%;
  background-color: #d7d7d7;
}
.nav-container {
  display: flex;
  background-color: black;
  justify-content: right;
  width: 100vw;

  .display-flex {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-right: 50px;
    list-style-type: none;

    border-radius: 30px 0px 0px 0px;
  }

  .display-flex li,
  .link {
    color: white;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 400;
    line-height: 20.72px;
    text-align: center;
  }

  .link:hover {
    color: red;
  }
}
